APEX_BASE_URL=https://apex-test.civ.zcu.cz/ords/f?p=100000:1
APEX_ENV=TEST
PROHLIZEC=firefox
HEADLESS=true

APEX_USER_ADMIN=datprx
APEX_PASSWORD_ADMIN=datprx_012026

APEX_USER_NEVEDOUCI=S_ROLI_NEVEDOUCI
APEX_PASSWORD_NEVEDOUCI=

TEST_DB_USER=test_ws
TEST_DB_PASSWORD=test_ws
TEST_DB_DSN=147.228.51.30:6521/FREEPDB1
